<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>
        The Boss Movies
      </ion-title>
      <ion-button class="ion-float-right ion-padding-end" (click)="addNewMovie()">
        <span>New</span>
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="movieList && movieList.length > 0">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-list-header>Top Five Movies</ion-list-header>
          <ion-item *ngIf="orderSortTypes && orderSortTypes.length > 0">
            <ion-label>Order By</ion-label>
            <ion-select [value]="orderSortTypes[1].valueToOrderBy" okText="Okay" cancelText="Dismiss"
              [(ngModel)]="orderBy" (ionChange)="onSortOptionChange()">
              <ion-select-option *ngFor="let option of orderSortTypes; let j = index" [value]="option.valueToOrderBy">
                {{ option.label }}</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngFor="let movieItem of movieList; let i = index">
            <ion-item button (click)="showSynopsis(movieItem.id)">
              <ion-thumbnail slot="start">
                <img [src]="movieItem.imageUrl">
              </ion-thumbnail>
              <ion-label>
                <ion-row>
                  <ion-col>
                    <div>
                      {{ movieItem.title }}
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div class="ion-float-left">
                      {{ movieItem.releaseDate }}
                    </div>
                    <div class="ion-float-right">
                      {{ movieItem.rank }}
                    </div>
                  </ion-col>
                </ion-row>
              </ion-label>
            </ion-item>
            <div *ngIf="movieItem.show">
              <ion-item class="movie-synopsis">
                <p>{{ movieItem.synopsis }}</p>
              </ion-item>
              <ion-item>
                <ion-button slot="end" (click)="showMovie(movieItem.rank)">
                  <ion-icon name="eye" size="large"></ion-icon>
                </ion-button>
              </ion-item>
            </div>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>