<ion-header>
  <ion-toolbar>
    <ion-row *ngIf="movie">
      <ion-title>{{ movie.title }}</ion-title>
      <ion-button class="ion-float-right ion-padding-end" (click)="goHome()">
        <span>Home</span>
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="movie">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-md="3" offset-md="3">
        <ion-row>
          <ion-col size-xs="6" offset-xs="3">
            <ion-img alt="No Image..." [src]="movie.imageUrl"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="editable">
          <ion-col>
            <ion-item>
              <ion-label position="floating">Enter image url:</ion-label>
              <ion-input class="ion-no-padding" inputmode="url" [(ngModel)]="movie.imageUrl" color="primary" required>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size-xs="12" size-md="3">
        <ion-row>
          <ion-col>
            <ion-label>Title:</ion-label>
          </ion-col>
          <ion-col class="ion-text-right">
            <ion-label>{{ movie.title }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Rank:</ion-label>
          </ion-col>
          <ion-col class="ion-text-right">
            <ion-label *ngIf="!editable">{{ movie.rank }}</ion-label>
            <ion-select *ngIf="editable" [value]="movie.rank" okText="Okay" cancelText="Dismiss"
              [(ngModel)]="movie.rank" class="ion-no-padding">
              <ion-select-option *ngFor="let rank of rankSelection; let j = index" [value]="rank">
                {{ rank }}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Released:</ion-label>
          </ion-col>
          <ion-col class="ion-text-right">
            <ion-label *ngIf="!editable">{{ movie.releaseDate }}</ion-label>
            <ion-select *ngIf="editable" [value]="movie.releaseDate" okText="Okay" cancelText="Dismiss"
              [(ngModel)]="movie.releaseDate" class="ion-no-padding">
              <ion-select-option *ngFor="let date of releaseDateSelection; let j = index" [value]="date">
                {{ date }}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-textarea *ngIf="!editable" autoGrow readonly [value]="movie.synopsis"></ion-textarea>
            <ion-item *ngIf="editable">
              <ion-label position="floating">Movie Synopsis:</ion-label>
              <ion-textarea *ngIf="editable" autoGrow [(ngModel)]="movie.synopsis" color="primary" required>
              </ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-float-right">
          <ion-button *ngIf="!editable" (click)="onEdit()">
            <span>Edit</span>
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button *ngIf="editable" color="secondary" (click)="onCancel()">
            <span>Cancel</span>
            <ion-icon name="close"></ion-icon>
          </ion-button>
          <ion-button *ngIf="editable" (click)="onSave()"
            [disabled]="movie.imageUrl.length === 0 || movie.synopsis.length === 0">
            <span>Save</span>
            <ion-icon name="save"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>