<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>
        Add New Movie
      </ion-title>
      <ion-button class="ion-float-right ion-padding-end" (click)="goHome()">
        <span>Home</span>
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-md="3" offset-md="3">
        <ion-row>
          <ion-col size-xs="6" offset-xs="3">
            <ion-img alt="No Image..." [src]="movie.imageUrl"></ion-img>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size-xs="12" size-md="3">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Title:</ion-label>
              <ion-input class="ion-no-padding" inputmode="url" [(ngModel)]="movie.title" color="primary" required>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label postion="floating">Rank:</ion-label>
              <ion-select [value]="movie.rank" okText="Okay" cancelText="Dismiss" [(ngModel)]="movie.rank"
                class="ion-no-padding">
                <ion-select-option *ngFor="let rank of rankSelection; let j = index" [value]="rank">
                  {{ rank }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label posistion="floating">Released:</ion-label>
              <ion-select [value]="movie.releaseDate" okText="Okay" cancelText="Dismiss" [(ngModel)]="movie.releaseDate"
                class="ion-no-padding">
                <ion-select-option *ngFor="let date of releaseDateSelection; let j = index" [value]="date">
                  {{ date }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Enter image url:</ion-label>
              <ion-input class="ion-no-padding" inputmode="url" [(ngModel)]="movie.imageUrl" color="primary" required>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Movie Synopsis:</ion-label>
              <ion-textarea autoGrow [(ngModel)]="movie.synopsis" color="primary" required>
              </ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-float-right">
          <ion-button color="secondary" (click)="onCancel()">
            <span>Cancel</span>
            <ion-icon name="close"></ion-icon>
          </ion-button>
          <ion-button (click)="onSave()" [disabled]="formInvalid()">
            <span>Save</span>
            <ion-icon name="save"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>